.formDialog::before {
  background-color: 'transparent';
  backdrop-filter: blur(4px) saturate(100%) contrast(45%) brightness(130%);
  -webkit-backdrop-filter: blur(10px) saturate(100%) contrast(45%)
    brightness(130%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}

.ms-Overlay {
  background-color: transparent;
}
